.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .game-content {
    .joinBtn {
      width: 380px;
      height: 220px;
      .joinImage {
        width: 100%;
        height: 100%;
      }
    }
    .createBtn {
      margin-top: 100px;
      width: 380px;
      height: 220px;
      .createImage {
        width: 100%;
        height: 100%;
      }
    }
  }
}
