<nz-table #basicTable [nzData]="dataSet">
        <thead>
            <tr>
                <th>编号</th>
                <th>类型名</th>
                <th>房间总个数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.count}}</td>
                <td>
                    <a>Action 一 {{data.name}}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Delete</a>
                </td>
            </tr>
        </tbody>
    </nz-table>